.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image-inner {
  position: absolute;

  &--leaf-blue-1 {
    width: 355px;
    left: 445px;
    top: 0;
  }
  &--leaf-blue-2 {
    width: 355px;
    left: 0;
    top: 135px;
  }
  &--leaf-green {
    width: 435px;
    left: 395px;
    top: 170px;
  }
  &--suitcase {
    width: 440px;
    left: 180px;
    top: 0;
  }
  &--flamingo {
    width: 330px;
    left: 140px;
    top: 105px;
  }
  .screen--result.screen--show & {
    &--leaf-blue-1 {
      animation: leafRightAnimation 3s ease-in-out 0.5s both;
      transform-origin: 50px 235px;
    }
    &--leaf-blue-2 {
      animation: leafLeftAnimation 3s ease-in-out 0.65s both;
      transform-origin: 340px 140px;
    }
    &--leaf-green {
      animation: leafGreenAnimation 3s ease-in-out 0.65s both;
      transform-origin: 0 170px;
    }
    &--suitcase {
      animation: suitcaseAnimation 0.5s ease 0.3s both;
      transform-origin: bottom center;
    }
    &--flamingo {
      animation: flamingoAnimation 0.5s ease 0.3s both,
        flamingoRotation 1.5s ease-in-out 0.8s infinite alternate;
      transform-origin: 175px 200px;
    }
  }
}

.result__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
  z-index: -1;
  width: 830px;
  height: 440px;

  @media (max-width: $mobile) {
    transform: translateX(-50%) scale(0.6);
  }
}

.result__image-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  animation: fadeIn 0.5s ease 0.5s both;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    animation: dontGiveUpButton 0.5s ease 0.5s both;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
      animation: dontGiveUpButtonStopScaling 0.5s ease 0.5s both;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

// x=alpha*R - из условия движения без проскальзывания
@keyframes dontGiveUpButton {
  from {
    transform: translate3d(calc(3.14 / 4 * 2rem), 0, 0) rotate(45deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}

@keyframes dontGiveUpButtonStopScaling {
  from {
    transform: translate3d(calc(3.14 / 4 * 20px), 0, 0) rotate(45deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}
