$list-items-amount: 4;

$bullet-delay: 0.2s;
$bullet-duration: 0.3s;
$list-item-text-delay: 0.3s;
$list-item-text-duration: 0.3s;

$button-duration: 0.3s;
$button-dealy: $bullet-duration + ($list-items-amount - 1) * $bullet-delay;

.rules {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 14.6rem 0 13rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 146px 0 65px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0 8rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 7rem 0 8rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 4rem 0 4rem;
  }
}

.rules__title {
  margin: 0 0 5rem;
  text-transform: uppercase;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 50px;
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.rules__lead {
  margin-left: 5.8rem;
  max-width: 96rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;

  @media (min-width: $stop-scaling) {
    margin-left: 58px;
    max-width: 960px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-left: 2.5rem;
    padding-right: 1rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 2rem;
    font-size: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 100%;
    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.rules__list {
  @include list-reset;
  counter-reset: li;
  column-count: 2;
  column-gap: 9.6rem;
  margin: auto;
  padding-top: 7rem;
  max-width: 69.6rem;

  @media (min-width: $stop-scaling) {
    column-gap: 96px;
    padding-top: 70px;
    max-width: 696px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    column-count: auto;
    column-gap: 0;
    padding: 0 2.5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding-top: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    column-gap: 4rem;
  }
}

.rules__item {
  position: relative;
  margin: 0 0 6.2rem;
  padding-top: 0.6rem;
  padding-left: 6.5rem;
  break-inside: avoid;

  @media (min-width: $stop-scaling) {
    margin: 0 0 62px;
    padding-top: 6px;
    min-height: 5rem;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1rem;
    padding-left: 5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding-left: 5rem;
    font-size: 1.2rem;
  }

  @for $i from 1 to $list-items-amount + 1 {
    &:nth-child(#{$i}) {
      &::before {
        animation-delay: ($i - 1) * $bullet-delay;
      }
      p {
        animation-delay: $list-item-text-delay + ($i - 1) * $bullet-delay;
      }
    }
  }

  &::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 2.4rem;
    background-color: $c-purple;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    animation: bulletAnimation $bullet-duration ease both;

    @media (max-width: $tablet) and (orientation: portrait) {
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 3rem;
      font-size: 1.4rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      top: 0.6rem;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 3rem;
      font-size: 1.4rem;
    }
  }

  p {
    margin: 0;
    animation: fadeInToLeft $list-item-text-duration ease both;

    @media (max-width: $tablet) and (orientation: portrait) {
      min-height: calc(1.4rem * 2.2);
    }
  }
}

.rules__link {
  position: absolute;
  bottom: 6rem;
  right: 5.6rem;

  @media (min-width: $stop-scaling) {
    bottom: 60px;
    right: 56px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    left: 0;
    right: 0;
    bottom: 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    bottom: 5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    bottom: 2rem;
    right: 1.5rem;
  }
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    transform: none;
    animation: rulesButtonAnimation $button-duration ease $button-dealy both;
  }
}

.rules__link-text {
  animation: fadeIn 0.3s $button-duration + $button-dealy ease both;
}

@keyframes rulesButtonAnimation {
  from {
    width: 3.5rem;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    width: 100%;
  }
}

@keyframes bulletAnimation {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  65% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
